---
layout: description
---
<h2>{{ page.title }}</h2>
<span class="date">{{ page.date | date_to_string }}</span>
{{content}}

<div class="post-footer">
<div class="post-categories">
  Categories :
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>
<div>{% include share_buttons.html %}</div>

</div>

<div id="cusdis_thread"
data-host="https://cusdis.com"
data-app-id="d06e644e-508a-4b1f-a8f1-48e720ddeb1f"
data-page-id="{{ PAGE_ID }}"
data-page-url="{{ PAGE_URL }}"
data-page-title="{{ PAGE_TITLE }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
